@import "./base.css";

header {
  height: 4rem;
  border-bottom: 3px solid #000;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: "Cormorant Upright", serif;
  background: rgba(217, 217, 217, 0.2);
  transition-property: font-size;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1150px) {
  header {
    font-size: 1.5rem;
  }
}

footer {
  height: 4rem;
  border-top: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  width: 100%;
}
